.body{
  font-family:'Open Sans', sans-serif;
}
.flexItGoodNCenter{
  color:#E5FEFF;
}


.navbar-expand-lg{
    display: flex;
    justify-content: center;
    width:  cover;
    max-width: 100%;
    height: auto;
}


.NavbarBg{
    background-color: #000324;
}



.text-block {
  position: absolute;
  background-position: center;
  bottom: 280px;
  right: 225px;
  background-color:#000324;
  color: white;
  padding-left: 222px;
  padding-right: 220px;
  opacity:0.5;
  max-width: 100%;
  height: auto;
}
.container{
  color:#E5FEFF;
}

.header{

  background-image: url("/images/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: relative;
  height:550px;
  /* width: cover; */
  max-width: 100%;
  /* height: auto; */

    
}
.colflex{
background-color: #000324; 
opacity: 0.08%; 
max-width: 100%;
height: auto;
}
.card-title1{
  color:#000000;

}

.card-text1{
  color:#000000;
}

.row2 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    color:#000000;
  }

  .img-fluid {
    margin-bottom: -10%;
    margin-top:-10%;
    padding-top: 70px;
    padding-bottom:80px;
    padding-left: 5%;
    padding-right:15%;
    max-width: 100%;
    height: auto;
  
   
  }


  .award{
    padding-top:90%;
    padding-bottom:100%;
    max-width: 100%;
    height: auto;
   
  }
  



.roomsbg{
  background-image: url("/images/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: relative;
  height:575px;
  color:#E5FEFF;
} 

  .column {
    float: left;
    width: 33.33%;
    margin-top: 1%;
    padding-left: 5%;
    padding-right:2%;
  }
  
  .row:after {

    display: table;
    clear: both;
  }
.blue-button{
  color:#E5FEFF;
  background-color: #004CC7;
  padding-left: 20%;
  padding-right:20%;
}  

.flex-container1{
  width:cover;
  height:75px
}

  .package-class{
    padding: -5%;
    padding-left: 20%;
    width: 100%;
    height: 85%;
  }
  .package-text{
    padding-top: 5%;
    padding-left: -10%;
    margin-top:-3%;
    width: 100%;
    height: 100%;
  }
.bloom-pkg{
  padding-right:-40%;
  padding-left: 10%;
  padding-top:-80%;
}
.beach-pkg{
  padding-right:-40%;
  padding-left: 14%;
  padding-bottom:0%;
}


.amenitiesBg {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: relative;
  height:455px;
}

.amenitiesPaddingTB {
  padding-top: 4%;
  padding-bottom: 1%;
}

.amenitiesPaddingBottom {
  padding-bottom: 4%;
}

.amenitiesHeader {
  margin-top: 3% !important;
  margin-bottom: 2% !important;

}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color:#E5FEFF;
}
.valet {
  scale: 70%;
  margin-top: -20%;
}


.resRoomMarPad {
  margin: 1%;
  padding-right: 22%;
  margin-left: 10%;
  padding-bottom:0%;
  color:#E5FEFF;
  width:1310px;
 

}

.resRoomBoxMarPad {
  margin: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: -76%;
  
}

.resRoomBg {
  background-color: #000324;
}

.resRoomImg {
  background-image: url("/images/hamsterreserve.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 10%;
  background-clip: 10%;
  height:360px;
  
}

.resImgInvis {
  opacity: 0;
}

.resBtn {
  border-style: none !important;
  border-radius: 0% !important;
  padding: 3px 50px;
  height: 30px;
}

.footer{
  background-color: #000324;
}

.footer-text{
  justify-content: center;
  color: #E5FEFF;
  margin-top:-1%;
}
.footer-smtext{
  color: #E5FEFF;
  margin-top:-2.5%;
}
